<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <p>Follow us on:</p>
            <i class="fa-brands fa-facebook-f fa-beat"></i>
            <i class="fa-brands fa-twitter fa-beat"></i>
            <i class="fa-brands fa-instagram fa-beat"></i>
            <i class="fa-brands fa-linkedin-in fa-beat"></i>
            <i class="fa-brands fa-youtube fa-beat"></i>
        </div>
        <div class="f-info-text">
            <p>&copy; 2025 GadgetsInfo. All rights reserved.</p>
            <p>Designed by <a href="/designer" target="_blank">Saransh</a></p>

        </div>
    </div>
</footer>